body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Reset the margins so that they stretch almost to the left and right edges */
.container {
    width: 100%;
}

/* Log entries table */
#log-entries {
    width: 100%;
}

#log-entries td.break-long-words {
    word-wrap: break-word;
    word-break: break-all;
}

.log-id {
    text-align: right;
    vertical-align: top;
}

.log-date {
    width: 170px;
    text-align: right;
}

.log-level {
    width: 70px;
}